// ==========================================================================
// Pull Utility
// ==========================================================================

/*doc
---
title: Pull
name: pull
category: utilities
---

Pulls an element left or right

```html_example
    <div class="u-pull-left">Floated left</div>
    <div class="u-pull-right">Floated right</div>
```
*/

.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}
